.table td, .table th {
    border-top: none;
}
.schedules-list > .head{
    width: inherit;
    display: flex;
    flex-flow: row-reverse;
}

.actions{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    margin-top: -20px;
}

@media (max-width: 576px) {
    .schedules-list{
        padding: 5px;
    }

    .schedules-list > .head{
        margin: 10px 5px;
    }
    
    table {
        zoom: 0.8;
    }
    .f-size{
        font-size: 10px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .schedules-list{
        padding: 20px;
        width: 75vh;
    }

    table {
        zoom: 0.94;
    }
}

@media(min-width: 993px) {
    .schedules-list{
        width: 100vh;
    }
}